<!-- hero section -->
<div class="hero min-h-[400px] w-full">
  <div class="hero-content text-center">
    <div class="max-w-md sm:max-w-lg lg:max-w-3xl w-full px-4">
      <div
        class="badge rounded-full border border-[#1571fc] bg-blue-50 text-[#1571fc] font-medium mb-2 text-[11px] lg:text-sm"
      >
        Trusted by over 100,000 users
      </div>
      <h1 class="text-3xl lg:text-5xl font-semibold">
        All your Saas Metrics, in one smart dashboard
      </h1>
      <div
        class="py-3 font-normal text-sm text-gray-500 flex justify-center flex-col"
      >
        <span>One simple dashboard to track your Saas growth,MRR,</span>
        churm and user behaviour-without the chaos.
      </div>
      <div class="flex justify-center mt-2">
        <button class="btn btn-sm btn-primary text-white rounded-md">
          Get Started for free
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Hero-Section -->
<!-- Image -->
<div class="flex justify-center mx-1 mb-4">
  <img
    alt="image"
    src="/assets/task.svg"
    class="w-full h-auto lg:h-[700px] rounded-xl"
  />
</div>
<!-- End Image -->
<!-- Social Media Section -->
<div>
  <p class="text-center text-2xl mb-4 mt-8 font-medium">Our social pages</p>
  <div class="flex justify-center items-center gap-8 lg:gap-10 mb-8">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
      class="h-8"
      alt="Instagram"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg"
      class="h-8"
      alt="Telegram"
    />
    <img
      src="https://www.freepnglogos.com/uploads/twitter-x-logo-png/twitter-x-logo-png-9.png"
      class="h-8"
      alt="Twitter"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"
      class="h-8"
      alt="LinkedIn"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
      class="h-5 lg:h-7"
      alt="WhatsApp"
    />
  </div>
</div>
<!-- End Social Section -->



<div class="flex flex-col justify-center items-center">
  <div
    class="badge badge-sm mt-8 rounded-full border-blue-400 bg-blue-100 text-[#1571fc] text-sm"
  >
    How it Works
  </div>
  <p class="text-center text-2xl mb-0.5 mt-1 font-medium">Get Answers in</p>
  <span class="text-2xl font-medium">3 Simple Steps</span>
  <div
    class="py-1 font-normal text-sm text-gray-500 flex justify-center items-center flex-col"
  >
    <span>From data to clarity - in</span>
    three simple steps.
  </div>
</div>

<div class="flex lg:flex-row lg:justify-evenly flex-col items-center my-8 gap-8 lg:gap-0">
 <div>
    <div class="card bg-[#99caff] w-80 lg:w-90 shadow-md border-gray-300 border">
  <div class="card-body">
    <h2 class="card-title">Connect Your Product</h2>
    <p class="text-gray-600">Integrate in minutes with your existing stack <br/> no engineering required.</p>
  </div>
  <figure>
    <img
    class="w-full h-[200px]"
      src="/assets/connect.svg"
      alt="Shoes" />
  </figure>
</div>
 </div>
   <div>
    <div class="card bg-purple-200 w-80 lg:w-90 shadow-md border-gray-300 border">
  <div class="card-body">
    <h2 class="card-title">Track User Behaviour</h2>
    <p class="text-gray-600">A card component has a figure, a body part, and inside body there are title and actions parts</p>
  </div>
  <figure>
    <img
    class="w-full h-[200px]"
      src="/assets/monitor.svg"
      alt="Shoes" />
  </figure>
</div>
 </div>
   <div>
    <div class="card bg-[#fec6e4] w-80 lg:w-90 shadow-md border-gray-300 border">
  <div class="card-body">
    <h2 class="card-title">Turn Insights Into Action</h2>
    <p class="text-gray-600">A card component has a figure, a body part, and inside body there are title and actions parts</p>
  </div>
  <figure>
    <img
    class="w-full h-[200px]"
      src="/assets/action.svg"
      alt="Shoes" />
  </figure>
</div>
 </div>


</div>

<div class="flex flex-col justify-center items-center">
  <div
    class="badge badge-sm mt-8 rounded-full border-blue-400 bg-blue-100 text-[#1571fc] text-sm"
  >
    You Decide
  </div>
  <p class="text-center text-2xl mb-0.5 mt-1 font-medium">Why Choose Us?</p>
  <div
    class="py-1 font-normal text-sm text-gray-500 flex justify-center items-center flex-col"
  >
    <span>Discover why teams choose us to reduce</span>
    churm and build better features.
  </div>
</div>

<div class="flex flex-col lg:flex-row items-center gap-8 lg:gap-0.5 my-8">
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        <div
          class="p-1 rounded-md bg-blue-100 border border-blue-400 flex items-center justify-center w-10 mb-6"
        >
          <img alt="img" src="/assets/people.svg" class="w-6 h-6" />
        </div>
        <h2 class="card-title">Built For Teams</h2>
        <p class="text-gray-500">insights that help you ship smarter,faster.</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        <div
          class="p-1 rounded-md bg-blue-100 border border-blue-400 flex items-center justify-center w-10 mb-6"
        >
          <img alt="img" src="/assets/code.svg" class="w-6 h-6" />
        </div>
        <h2 class="card-title">No Code-Setup</h2>
        <p class="text-gray-500">Track usage instantly,no devs indeed.</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        <div
          class="p-1 rounded-md bg-blue-100 border border-blue-400 flex items-center justify-center w-10 mb-6"
        >
          <img alt="img" src="/assets/branch.svg" class="w-6 h-6" />
        </div>
        <h2 class="card-title">Feature Clarity</h2>
        <p class="text-gray-500">See what keeps users coming back after use.</p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        <div
          class="p-1 rounded-md bg-blue-100 border border-blue-400 flex items-center justify-center w-10 mb-6"
        >
          <img alt="img" src="/assets/user.svg" class="w-6 h-6" />
        </div>
        <h2 class="card-title">Real User Behaviour</h2>
        <p class="text-gray-500">See what users do,not just what they say.</p>
      </div>
    </div>
  </div>
</div>



<div class="flex flex-col justify-center items-center">
  <div
    class="badge badge-sm mt-8 rounded-full border-blue-400 bg-blue-100 text-[#1571fc] text-sm"
  >
    You Decide
  </div>
  <p class="text-center text-2xl mb-0.5 mt-1 font-medium">Our Client Reviews</p>
  <div
    class="py-1 font-normal text-sm text-gray-500 flex justify-center items-center flex-col"
  >
    <span>See what teams say after switching to</span>
   smart productive ways.
  </div>
</div>
<div class="flex flex-col lg:flex-row items-center gap-8 lg:gap-0.5 my-8">
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        
        <span class="text-yellow-500 text-sm">★★★★★</span>
        <h2 class="card-title">"Amazing app!"</h2>
               <p class="text-gray-500 text-sm">
          “This app has  changed how I manage my projects. Simple, fast, and very intuitive.”
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
    <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        
        <span class="text-yellow-500 text-sm">★★★★★</span>
       <h2 class="card-title">"Great Design & Speed"</h2>
          <p class="text-gray-500 text-sm">
          “The UI feels premium, and the app runs lightning fast even with large data sets.”
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
   <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        
        <span class="text-yellow-500 text-sm">★★★★★</span>
        <h2 class="card-title">"Fantastic Support"</h2>
          <p class="text-gray-500 text-sm">
          “Anytime I had questions, their support team replied within minutes. Highly recommend!”
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center w-full lg:w-1/4">
   <div
      class="card w-full lg:w-60 bg-base-100 card-sm shadow-md border border-gray-300 rounded-xl"
    >
      <div class="card-body">
        
        <span class="text-yellow-500 text-sm">★★★★★</span>
        <h2 class="card-title">"Super Easy Setup"</h2>
        <p class="text-gray-500 text-sm">
          “I got started in under 5 minutes. The onboarding process was flawless.”
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center items-center">
  <div
    class="badge badge-sm mt-8 rounded-full border-blue-400 bg-blue-100 text-[#1571fc] text-sm"
  >
    FAQ's
  </div>
   <p class="text-center text-2xl mb-0.5 mt-1 font-medium">Frequently Asked</p>
  <span class="text-2xl font-medium">Questions</span>
  <div
    class="py-1 font-normal text-sm text-gray-500 flex justify-center items-center flex-col"
  >
    <span class="bg-blue-800 text-white">The most asked How's,What's and Why's.</span>
    
  </div>
</div>
<div class="flex flex-col items-center gap-4 mt-4 mb-8">
<div class="collapse bg-base-100 border-gray-300 border w-full lg:w-150">
  <input title="i" type="checkbox" />
  <div class="collapse-title font-semibold">How do I create an account?</div>
  <div class="collapse-content text-sm">
    Click the "Sign Up" button in the top right corner and follow the registration process.
  </div>
</div>
<div class="collapse bg-base-100 border-gray-300 border w-full lg:w-150">
  <input title="i" type="checkbox" />
  <div class="collapse-title font-semibold">Do i need a developer to set this up?</div>
  <div class="collapse-content text-sm">
    Click the "Sign Up" button in the top right corner and follow the registration process.
  </div>
</div>
<div class="collapse bg-base-100 border-gray-300 border w-full lg:w-150">
  <input title="i" type="checkbox" />
  <div class="collapse-title font-semibold">How do I create an account?</div>
  <div class="collapse-content text-sm">
    Click the "Sign Up" button in the top right corner and follow the registration process.
  </div>
</div>
<div class="collapse bg-base-100 border-gray-300 border w-full lg:w-150">
  <input title="i" type="checkbox" />
  <div class="collapse-title font-semibold">Is my data secure?</div>
  <div class="collapse-content text-sm">
    Click the "Sign Up" button in the top right corner and follow the registration process.
  </div>
</div>
</div>

<div class="flex items-center justify-center p-2">
<div class="flex flex-col justify-center items-center w-full lg:w-[750px] border border-gray-300 bg-base-100 p-4 rounded-2xl">
   <p class="text-center text-lg lg:text-2xl mb-0.5 mt-1 font-medium">Turn User Behaviour Into</p>
  <span class="text-lg lg:text-2xl font-medium">Product Growth</span>
 <div class="py-2 font-normal text-sm text-gray-500 flex flex-col items-center justify-center">
    <div>See what keeps users coming back,</div>
    <div>which features matter most.</div>
  
  </div>
   <div class="flex justify-center mt-2">
        <button class="btn btn-sm btn-primary text-white rounded-md">
          Get Started for free
        </button>
      </div>
      <span class="text-xs font-medium mt-2 mb-1">No credit card required</span>
</div>
</div>
